<h2>Por País</h2>
<hr>
<div class="row animate__animated animate__fadeIn">
  <div class="col">
    <app-pais-input placeholder="Buscar Pais..." (onEnter)="buscar( $event )" (onDebunce)="sugerencias($event)">
    </app-pais-input>
    <ul *ngIf="mostrarSugerencia" class="list-group">
      <li *ngFor="let pais of paisesSugeridos" style="cursor:pointer" class="list-group-item list-group-item-action">
        <a class="nav-link" [routerLink]="[ '/pais', pais.alpha2Code ]"> {{pais.name}} </a> </li>
      <li style="cursor:pointer" class="list-group-item list-group-item-action" (click)="buscarSugerido(termino)">
        <a class="nav-link">Buscar: "{{ termino}}" </a> </li>
    </ul>
  </div>
</div>


<hr>


<div *ngIf="hayError" class="alert alert-danger">
  No se encontro nada con el termino de: {{ termino }}
</div>

<div *ngIf="interpais.length > 0" class="row">
  <div class="col">
    <app-pais-tabla [paises]="interpais"></app-pais-tabla>
  </div>
</div>
